body{
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #fbfbfb;
    text-decoration: none;
}
nav{
   height: 50px;
   width: 100%;
   background-color: #1d8c5ef2;
}

nav ul{
   display: block;
   width: 40%;
   height: 100%;
   margin-left: auto;
   margin-right: auto;
}

nav ul li{
   display: inline-block;
   height: 100%;
   width: 18%;
   border-left: 1px #0000005c solid;
   margin-right: -7px;
}
nav ul li a{
   text-decoration: none;
   color: white;
   display: block;
   height: 100%;
   line-height: 45px;
   text-align: center;
}
nav ul li:hover{
   cursor: pointer;
   background-color: #052300;
   border-radius: 3px;
}

/********** Productos ****************/
.options{
   border: 1.9px solid #299266;
   width: 12%;
   margin: 70px 0px 0px 7%;
   height: auto;
   overflow: hidden;
   border-radius: 5px;
   display: inline-block;
}
.options ul{  
   height: 100%;
   margin: 0px;
}
.options ul li{  
   text-align: center;
   list-style: none;
   margin: 0;
   margin-left: -44px;
}
.options ul li a{
   text-decoration: none;
   display: block;
   color: #299266;
   padding: 10px;
   transition: 500ms all;
   background-color: #37f3150d;

}
.options ul li a:hover{
   background-color: #299266;
   color: white;
   
}
.line{
   border-bottom: 1.9px solid #299266;
}
.blue{
   color: #0f6688 !important;
   background-color: #006dde0d !important;
}
.blue:hover{
   background-color: #0f6688 !important;
   color: white !important;
}

.gestion{
   width: 50%;
   height: 760px;
   border: 1px solid gray;
   float: right;
   margin: 50px 20% 0px 0px;
}

input[type="text"],input[type="number"]{
   display: block;
   margin-left: 50px;
   margin-top: 5px;
   width: 40%;
   height: 30px;
   padding: 0px 10px;
   font-size: 15px;
}
button{
   display: block;
   margin-left: 20px;
   margin: auto;
   width: 12%;
   height: 30px;
}
label{
   margin-left: 30px;
   margin-bottom: 5px;
   display: block;
   
}
h1{
   text-align: center;
}

.info{
      color: #0f6688;
      margin: 60px 50px;
      font-weight: bold;
}